# Alternatively, consider running OpenShift in a local VM:
# https://github.com/jimmidyson/minishift

[Unit]
Description=Meta-service to start all Kubernetes components
# Node services
Requires=docker.service
Requires=kube-proxy.service
Requires=kubelet.service
# Master services
Requires=etcd.service
Requires=kube-apiserver.service
Requires=kube-controller-manager.service
Requires=kube-scheduler.service
# Wait for Node services
After=docker.service
After=kube-proxy.service
After=kubelet.service
# Wait for Master services
After=etcd.service
After=kube-apiserver.service
After=kube-controller-manager.service
After=kube-scheduler.service

[Service]
Type=oneshot
ExecStart=/usr/bin/echo "Node: docker kube-proxy kubelet"
ExecStart=/usr/bin/echo "Master: etcd kube-apiserver kube-controller-manager kube-scheduler"
ExecStart=/usr/bin/echo "Node status check: kubectl get nodes"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
